<div class="title-btn d-flex justify-content-between align-items-end">
  <h2>My Lists</h2>

  <%= link_to "Create a movie list", new_list_path, class: "btn-primary" %>
</div>

<div class="cards">
  <% if @lists.empty? %>
    <p>Nothing to see here.</p>
  <% else %>
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-list" style="background-image: url('<%= list.image.attached? ? cl_image_path(list.image.key) : 'https://example.com/default-image.jpg' %>'); background-size: cover; background-position: center;">
          <h3><%= list.name %></h3>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
