<%= link_to "Create a new list", new_list_path %>

<div>
  <% if @lists.empty? %>
    <p>Nothing to see here.</p>
  <% else %>
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do  %>
        <div>
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
