.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  height: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;

  h3 {
    font-weight: bold;
  }
}
// movies/show
.card-movies-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .card-movie {
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .movie-poster {
    width: 100%;
    height: 256px;
    object-fit: cover;
  }

  .movie-info {
    padding: 0 16px;
  }

  .movie-comment {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }

  h4,
  .rating {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  p,
  .fa-circle {
    color: #333;
  }

  .fa-circle {
    font-size: 4px;
  }

  .fa-quote-left {
    font-size: 20px;
  }

}
